/* styles.css */
.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
}

.background-radial-gradient-clair {
    background-color: hsl(0, 0%, 99%);
}

.card_button {
    width: 300px;
}